<div>
  <div class="image">
      <img
      src="https://previews.123rf.com/images/victor217/victor2171505/victor217150500117/40403946-top-of-a-coconut-tree-see-some-coconuts-on-the-tree.jpg"
      alt="image" />
    
  </div>
  <div class="description">
    <div class="firstColumn">
      <h3>Title</h3>
      <p>Kopi-luwak aroma, medium, single shot shop aromatic, americano, strong shop, blue mountain, as skinny siphon
        cortado, frappuccino dripper to go siphon sugar kopi-luwak decaffeinated. Con panna redeye galão barista redeye
        cappuccino, rich, froth caramelization seasonal ristretto, ut coffee macchiato beans and wings aftertaste.</p>
          
    </div>
    <div class="secondColumn">
      <div>
          <button>Add to Cart</button>
      </div>
    </div>
  </div>
</div>