@import 'variables';

img{
    width:100%;
}

.image{
    height: 600px;
    overflow: hidden;
}

.description{
    background-color: $light-blue;
    color:$white;
    padding:$main-margin;
}

.firstColumn{
    float:left;
    width:50%;
}

.secondColumn{
    display: grid;
}

.secondColumn div{    
    transform: translate(25%,25%);
}

.secondColumn button{
    
    padding: 15px 70px;
    background-color: $accent;
    border:none;
    color:$white;
    font-size:1.2em;
    font-weight: 500;
}

.disabled{
    background-color: #2197a8 !important;
}

@media only screen and (max-width: 876px) {
    .content{
        width:100%;
    }
}
@media only screen and (max-width: 1500px) {
    .content{
        width:100%;
    }
    .image{
        
    height: auto;
    }
}
@media only screen and (max-width: 1300px) {

    .firstColumn{
        float:none;
        width:100%;
    }
}