@import 'variables';
.card{
    width:300px;
    min-height:400px;
}

.image{
    width:300px;
    overflow: hidden;
}

img{
    height:300px;
}

.content{
    padding: 20px;
}

h3{
    color:$dark-text;
}

p{
    color: $light-text;
}