@import 'variables';

nav{
    border-bottom: 1px solid $light-text ;
    overflow: hidden;
    height:90px;
}

.logo{
    font-size: 2em;
    padding: 40px;
    float:left;
    color:$light-text;
    font-family: $second-font;
}

.navigation{
    
    font-weight: 500;
    height: 100px;
    right: 10px;
    position: absolute;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.navigation  li {
    float: left;
}

.navigation li a {
    display: block;
    width: 100px;
    padding:40px 0;
    text-align: center;
    transition-duration: 300ms;
}

.navigation li .active {
    color:$light-blue;
 }

.navigation li  :hover {
    background-color: $gray;
}
.search {
    
    background-color: $search;
}
.search .material-icons{
    font-size:30px;
    
}

a{
    color:$black;
}
@media only screen and (max-width: 901px) {
    nav{
        overflow: visible;
    }
    .logo{
        padding: 15px;
    }
    button{
        border-color: $dark-text;
    }
    .navigation{
        left:0;
        right: none;
        width: 100%;
        height: fit-content;
        z-index: 999;
        top:100px;
        background-color: $white;
    }
    .navigation li a {
        
        width: 100%;
        padding:10px 0;
        
    }
    .navigation  li {
        float: none;
    }
  }