<!--
<nav>
<div class="logo">
  LOGO
</div>
<div class="navigation">
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>  
    <li><a class="search"><i class="material-icons">search</i></a></li>
  </ul>
</div>
</nav>-->
<nav class="navbar ">
  <div class="logo" (click)="toHome()">
    LOGO
  </div>
  
  <div class="navigation">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li><a class="search"><i class="material-icons">search</i></a></li>
    </ul>
  </div>
</nav>